html {
  font-size: 10px;
  background: url("https://i.imgur.com/1dbRdCc.jpg") bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", monospace, sans-serif;
}

h1 {
 text-align: center;
 font-size: 80px;  
 font-weight: 200; 
 font-style: normal;
 background: rgba(0,0,0,0.7);
 color: purple;
}


.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .12s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.2);
  border-color: #9966cc;
  box-shadow: 0 0 1rem #9966cc;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
